<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keepnote">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KeepNoteApplication"
        android:allowBackup="true"
        android:icon="@drawable/note_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:roundIcon="@drawable/note_logo"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        tools:ignore="LockedOrientationActivity"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.webview.CommonWebview"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme"/>

        <activity
            android:name=".view.settings.Settings"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".view.exportbackup.ExportBackup"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".view.noteview.NoteWebview"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".view.settings.Privacy"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".view.Splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditNote"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".NoteDetails"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".view.homescreen.HomeScreen"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/LightTheme" />
        <activity
            android:name=".tedpermission.TedPermissionActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="unspecified"
            android:theme="@style/Themepermission"
           />

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>